# Object files
*.o
*.ko
*.obj
*.elf

# Executables
*.out

# Debug files
*.dSYM/
*.su

# Rom files for testing
roms/
roms/*
*.gba

# The main executable
rom_dumper*

# Ignore debug translation files
*.tra

# Ignore debug dump files
*.dmp
